<% include partials/header %>
<form method="POST" action="/sign-up">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Username">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Password">
  </div>
  <button type="submit">Sign up</button>
</form>
